@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Navbar */
.navbar {
  color: #fff;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.navbar h1 {
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

/* Styling for the Login and Signup buttons to match other navbar items */
.navbar-links button {
  background-color: transparent; /* Transparent background */
  color: #fff;
  padding: 0.25rem 0.75rem; /* Smaller padding */
  font-size: 0.875rem; /* Smaller font size */
  border: 2px solid #ff8c00; /* Orange border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: all 0.3s ease;
  height: 36px; /* Adjust height to match other navbar items */
}

/* Hover effect */
.navbar-links button:hover {
  background-color: #ff8c00; /* Orange background on hover */
  color: white; /* Ensure text stays white */
}

.navbar-links button:focus {
  outline: none; /* Remove default focus outline */
}

.navbar-links button:active {
  background-color: #e07b00; /* Darker orange on click */
  transform: scale(0.98); /* Slight shrink effect on click */
}

.navbar-links li a{
  position: relative;
  padding: 8px 8px;
  width: 60%;
  color: white;
  font-size: 15px;
  transition: 0.3s ease;
  text-decoration: none;
}

.navbar-links li a{
  font-size: 20px;
}

.navbar-links li a:hover,
.navbar-links li a.active{
  color: #ff8c00;
}

.navbar-links li a.active::after,
.navbar-links li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  bottom: 3px;
  left: 10px;
  background: #ff8c00;
  transition: 0.3s ease;
}